<div style="display: inline">
    <p class="text-center" style="color:red">有疑问加小鱼哥微信联系（非本文作者）</p>
    <img style="width: 330px;height: 160px" alt="" src="{{.static_domain}}/static/img/wx_sg_qrcode3.jpg?imageView2/2/w/280" class="img-responsive center-block">
</div>
<div class="cell qrcode" style="position: relative;">
    <p>入外贸交流群交流（和以上内容无关）</p>
    <span style="display: none;" class="qrcode-pop">
        加好友备注：加群<br>
        <img src="{{.static_domain}}/static/img/polarisxu-qrcode-m.jpg?imageView2/2/w/280" alt="关注微信"
             class="img-responsive center-block">
        <span style="color: red;">领全套学习资料</span>
    </span>
</div>

<style type="text/css">
    .qrcode-pop {
        background: #fff;
        border: 1px solid #ddd;
        position: absolute;
        left: 42%;
        top: 32px;
        -moz-box-shadow: 0 2px 5px #ddd;
        -webkit-box-shadow: 0 2px 5px #d9d9d9;
        box-shadow: 0 2px 5px #d9d9d9;
        border-radius: 2px;
        text-align: center;
        padding: 5px 10px 16px;
        line-height: 32px;
        width: 150px;
        z-index: 999;
    }
</style>
